.side-right {
    flex: 2.5;
    padding: 1rem;
}

.right-wrapper {
    padding: 0.5rem;
    background: #f5f5f5;
    border-radius: 20px;
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
}
.right-followers {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
